/* Global */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffbf;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1em 2em;
}
nav a {
    font-size: 18px;
}
nav .github {
    transition: color 0.15s ease;
}
nav .github:hover {
    color: #787878;
}
nav .linkedin {
    transition: color 0.15s ease;
}
nav .linkedin:hover {
    color: #0a66c2;
}
nav .nav-link a {
    background-color: white;
    border: 2px solid;
    box-shadow: 3px 3px;
    padding: 15px;
    margin: 0px 25px;
    transition: box-shadow 0.25s ease, background-color 0.25s ease;
}
nav .nav-link a:hover {
    box-shadow: 5px 5px;
    background-color: greenyellow;
}

/* Info & BTS SIO */
#info .box-bts {
    text-align: justify;
    border: 2px solid;
    box-shadow: 5px 5px;
    width: 75%;
    padding: 25px;
    margin: 5em auto;
}
#info .box-bts h1 {
    display: inline-block;
    border: 2px solid;
    background-color: white;
    padding: 10px;
    margin: auto;
}
#info .box-bts p {
    font-size: 20px;
    line-height: 1.5em;
}
#info .box-bts li {
    font-size: 20px;
    line-height: 1.5em;
}
#info .box-etat {
    text-align: justify;
    border: 2px solid;
    box-shadow: 5px 5px;
    width: 75%;
    padding: 25px;
    margin: 5em auto;
}
#info .box-etat p {
    font-size: 20px;
    line-height: 1.5em;
}
#info .box-option {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 3em;
    margin: 5em auto;
}
#info .box-option .optChosen {
    border: 7px solid #0a66c2;
    box-shadow: 7px 7px;
}
#info .box-option div {
    border: 2px solid;
    box-shadow: 5px 5px;
    width: 35%;
    padding: 25px;
}
#info .box-option div h1 {
    display: inline-block;
    border: 2px solid;
    background-color: white;
    padding: 10px;
    margin: auto;
}
#info .box-option div p {
    text-align: justify;
    font-size: 20px;
    line-height: 1.5em;
}
#info .box-option div li {
    font-size: 20px;
    line-height: 1.5em;
}
#info .box-travail {
    border: 2px solid;
    box-shadow: 5px 5px;
    width: 75%;
    padding: 25px;
    margin: 5em auto;
}
#info .box-travail p {
    text-align: justify;
    font-size: 20px;
    line-height: 1.5em;
}
#info .box-travail li {
    font-size: 20px;
    line-height: 1.5em;
}
#info .epreuve {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0em;
}
#info .epreuve div {
    border: 2px solid;
    box-shadow: 5px 5px;
    padding: 25px;
}
#info .epreuve div h1 {
    text-align: center;
    margin-top: 0;
}
#info .epreuve div a {
    font-size: 20px;
    border: 2px solid;
    box-shadow: 3px 3px;
    padding: 10px;
    transition: background-color 0.25s ease;
}
#info .epreuve div a:hover {
    background-color: greenyellow;
}

@media only screen and (max-width: 1200px) {
    nav a {
        font-size: 14px;
    }
    nav .nav-link a {
        padding: 10px;
    }
    #info .box-bts {
        width: 85%;
    }
    #info .box-etat {
        width: 85%;
    }
    #info .box-option div {
        width: 40%;
    }
    #info .box-travail {
        width: 85%;
    }
}
@media only screen and (max-width: 1000px) {
    nav .nav-link {
        display: none;
    }
    #info .box-option {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin: auto;
    }
    #info .box-option div {
        width: 80%;
    }
    #info .epreuve {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}
@media only screen and (max-width: 550px) {
    #info .box-option {
        padding: 0;
    }
    #info .epreuve div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}