/* Global */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
h2 {
    display: inline-block;
    border: 2px solid;
    text-align: center;
    position: relative;
    top: 1em;
    left: 5em;
    width: auto;
    padding: 10px;
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
.flexBox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    margin: 4em 10em;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffbf;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1em 2em;
}
nav a {
    font-size: 18px;
}
nav .github {
    transition: color 0.15s ease;
}
nav .github:hover {
    color: #787878;
}
nav .linkedin {
    transition: color 0.15s ease;
}
nav .linkedin:hover {
    color: #0a66c2;
}
nav .nav-link a {
    background-color: white;
    border: 2px solid;
    box-shadow: 3px 3px;
    padding: 15px;
    margin: 0px 25px;
    transition: box-shadow 0.25s ease, background-color 0.25s ease;
}
nav .nav-link a:hover {
    box-shadow: 5px 5px;
    background-color: greenyellow;
}

/* Introduction */
#intro {
    height: 20cm;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#intro div {
    text-align: center;
    font-size: 34px;
    line-height: 0.5;
}
#intro i {
    animation: slideDown 1s ease 0s infinite alternate none;
}
@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(25px);
    }
}

/* Profil  */
#profil {
    margin: 7em 0em;
}
#profil .a-propos {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0em;
}
#profil .a-propos article {
    max-width: 700px;
}
#profil .a-propos article p {
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
}
#profil .a-propos article a {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    border: 2px solid;
    box-shadow: 3px 3px;
    width: 100px;
    margin: 0em 0.5em;
    padding: 10px;
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
}
#profil .a-propos article a:hover {
    background-color: greenyellow;
    box-shadow: 5px 5px;
}
#profil .a-propos img {
    border-radius: 15px;
    outline: 3px solid;
    transition: outline-offset 1s ease 0s;
}
#profil .a-propos img:hover {
    outline-offset: 10px;
}
#profil .competence {
    margin: 5em 0em;
}
#profil .paragraph {
    font-size: 20px;
    padding-left: 10em;
}
#profil .competence .flexRow {
    outline: 2px solid;
    box-shadow: 5px 5px;
    background-color: #19191925;
    padding: 10px;
}
#profil .competence .flexRow h3 {
    outline: 2px solid;
    background-color: white;
    position: relative;
    bottom: 20px;
    right: 20px;
    margin: 0;
    padding: 10px;
}
#profil .competence .flexRow div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
#profil .competence .flexBox article {
    background-color: white;
    border: 2px solid;
    box-shadow: 5px 5px;
    text-align: center;
    width: 35%;
    height: fit-content;
    padding: 25px;
    transition: transform 0.25s ease;
}
#profil .competence .flexBox article p {
    font-size: 20px;
}
#profil .competence .flexBox article:hover {
    transform: scale(1.25);
}
#profil .work {
    margin: 5em 0em;
}
#profil .work .work-header {
    display: flex;
    justify-content: space-evenly;
}
#profil .work .work-content {
    border-left: 3px solid;
    padding-left: 2em;
    font-size: 20px;
}
#profil .work .work-content h3 {
    position: relative;
}
#profil .work .work-content h3::before {
    content: "";
    position: absolute;
    left: -2.15em;
    top: 0.3em;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}
#profil .work .work-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Projets */
#projets {
    margin: 5em 0em;
}
#projets .flexBox {
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#projets .flexContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 25px;
        border: 2px solid;
        box-shadow: 5px 5px black;
        width: 75%;
        padding: 25px;
        transition: box-shadow 0.25s ease, transform 0.25s ease;
}
#projets .flexContainer:hover {
    box-shadow: 10px 10px 2px;
    transform: scale(1.25);
}
#projets .flexContainer aside {
    width: 50%;
}
#projets .flexContainer aside h3 {
    margin-top: 0;
}
#projets .flexContainer aside p {
    font-size: 20px;
    line-height: 1.3;
}
#projets .flexContainer aside a {
    border: 2px solid;
    padding: 7px;
    transition: background-color 0.25s ease;
}
#projets .flexContainer aside a:hover {
    background-color: greenyellow;
}
#projets .workProject {
    display: block;
    text-align: center;
    width: 15%;
    font-size: 20px;
    border: 2px solid;
    box-shadow: 5px 5px black;
    margin: 1em 0em;
    padding: 10px;
    transition: background-color 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
}
#projets .workProject:hover {
    background-color: greenyellow;
    box-shadow: 10px 10px;
    transform: scale(1.25);
}
#projets .boxCollection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em 1em;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: #19191925;
    width: auto;
    padding: 15px 15px;
    margin: 5em auto;
}
#projets .boxCollection img {
    transition: transform 0.25s ease;
}
#projets .boxCollection img:hover {
    transform: scale(1.5);
}

/* Contact */
#contact {
    margin: 5em 0em;
}
#contact .contact-content {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
#contact .contact-content .contact-article {
    font-size: 20px;
    line-height: 1.5;
    width: 600px;
}
#contact .contact-content .contact-article a {
    border: 2px solid;
    box-shadow: 3px 3px;
    padding: 7px;
    transition: box-shadow 0.25s ease, background-color 0.25s ease;
}
#contact .contact-content .contact-article a:hover {
    box-shadow: 5px 5px black;
    background-color: greenyellow;
}
#contact .contact-content .contact-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
}
#contact .contact-content .contact-list .contact-card-content {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 2px solid;
    padding: 0px 20px;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}
#contact .contact-content .contact-list .contact-card-content:hover {
    box-shadow: 3px 3px black;
    transform: rotate(3deg);
}