body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #111111;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10rem;
    background-color: #00000080;
    position: sticky;
    overflow: visible;
    top: 0;
}

.pageLink {
    display: flex;
    gap: 100px;
}
.pageLink a {
    font-size: 24px;
    font-weight: 800;
}
.pageLink a:hover {
    text-decoration: underline;
}

/* info & bts sio */
#info {
    padding: 0rem 10rem;
}

.box-bts {
    text-align: justify;
    background-color: #1d1d1d;
    width: auto;
    border-radius: 15px;
    padding: 10px 3rem;
    margin: auto;
    margin-top: 2rem;
}
.box-bts p {
    font-size: 19px;
    line-height: 1.5em;
}

.box-option {
    display: flex;
    justify-content: space-evenly;
}
.box-color-style {
    background-color: #1d1d1d;
    width: auto;
    border-radius: 15px;
    padding: 25px;
    margin: 2rem;
}
.box-color-style p {
    font-size: 19px;
    line-height: 1.5em;
}